name: CD

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  OWNER: nadmax

jobs:
  push:
    name: Build & Push to GHCR
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate image metadata
        id: meta
        run: |
          git fetch --tags

          GIT_TAG=$(git describe --tags --abbrev=0 2>/dev/null)
          TAG=${GIT_TAG#v}

          echo "tag=${TAG}" >> $GITHUB_OUTPUT
          echo "Image will be tagged as: ${TAG}"

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.component }} Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/play:${{ steps.meta.outputs.tag }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/play:latest
          cache-from: type=gha,scope=play
          cache-to: type=gha,mode=max,scope=play
          provenance: false
