name: CD

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed
    branches:
      - master

jobs:
  security:
    name: Security Scan
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.2.0
        with:
          cache: true
          version: v0.69.1

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ghcr.io/nadmax/play:${{ github.event.workflow_run.head_sha }}
          severity: "HIGH,CRITICAL"
          format: "sarif"
          output: "trivy-scan-results.sarif"
          skip-setup-trivy: true
          exit-code: "1"

      - name: Upload scan results
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: "trivy-scan-results.sarif"

  push:
    name: Push to GHCR
    runs-on: ubuntu-latest
    needs: security
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Generate image metadata
        id: meta
        run: |
          git fetch --tags
          GIT_TAG=$(git describe --tags --abbrev=0 2>/dev/null)
          echo "tag=${GIT_TAG#v}" >> $GITHUB_OUTPUT

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Retag and push Docker image
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/nadmax/play:${{ steps.meta.outputs.tag }} \
            --tag ghcr.io/nadmax/play:latest \
            ghcr.io/nadmax/play:${{ github.event.workflow_run.head_sha }}
